$near-black: rgb(33, 0, 8);
$red: #b82525;

.reveal {
  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;

      &.shadow {
        -webkit-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.50);
      }
    }

    h1, h2, h3, h4, h5, & {
      color: $near-black;
      font-weight: 300 !important;

      &.white {
        color: whitesmoke;
      }
    }

    h1, h2, h3, h4 {
      font-family: "papaya_sunriseregular", serif;
      line-height: 2em;

    }


    h5 {
      font-weight: 400 !important;
      font-size: 50px;
      font-family: "Roboto", serif;
    }

    h1, h2 {
      font-weight: 600 !important;
    }

    font-size: 45px;
    font-family: "Open Sans", serif;

    ul {
      font-family: "Roboto", serif;

      list-style: none;
      margin: 0;

      li:before {
        content: "-";
        color: $red;
        position: relative;
        left: -25px;
        font-family: "Roboto", serif;
      }

      li {
        padding-bottom: 15px;
      }

      &.conclusion {
        font-weight: 100;
        font-size: 0.7em;
        color: whitesmoke;
        padding-left: 25px;
        font-family: "papaya_sunriseregular", serif;
        li:before {
          content: "-";
          color: whitesmoke;
          position: relative;
          left: -20px;
          font-size: 1.3em;
          font-family: "Roboto", serif;
        }
      }
    }

    .accent {
      color: $red;
    }

    .me {
        -webkit-animation: spin 5s spin 5s linear infinite;
        -moz-animation: spin 5s spin 5s linear infinite;
        animation: spin 5s linear infinite;
        width: 200px;
    }
    .spinned {
      animation: spin 30s linear infinite;
    }

    .corner {
      font-size: 40px;
      // color: $red;
      position: absolute;
      bottom: 10px;
      left: 10px;
    }

    blockquote {
      color: $near-black;
      box-shadow: none;
      font-family: Caveat, serif;
      font-size: 60px;
      font-style: normal;
      font-weight: lighter;
      text-align: left;
    }

    .bordered {
      border-radius: 25px;
      border: 3px dashed rgba(33, 0, 8, 0.36);;
      padding: 5px;
    }

    .white {
      color: white;
    }

    pre {
      box-shadow: none;
    }
    
    code {
      background-color: white;
      padding: 20px;
      max-height: 2000px;
      font-size: 27px;
      line-height: 34px;
      overflow: hidden;
      font-family: Menlo, monospace;
    
    }

    p.neon {
      color: #f3fffd;
      font-family: neoneonregular, monospace;
      -webkit-animation: neon 1.5s ease-in-out infinite alternate;
      -moz-animation: neon 1.5s ease-in-out infinite alternate;
      animation: neon 1.5s ease-in-out infinite alternate;
      font-size: 5em;
      padding-top: 70px;
      text-align: center;
      margin-top: -60px;
      text-decoration: none;
    }

    .graphql {
      animation: growandspin 20s;
      animation-delay: 1s;
      width: 500px; height: 500px;
      

    }

    .big-list {
      font-family: "papaya_sunriseregular", serif;

      li {
        padding: 0;
      }

      li:before {
        content: "-";
        font-family: "Open Sans", serif;
        font-size: 2em;
      }
    }

    h3.gaps {
      span.fragment:not(.visible) {
        visibility: visible;
        opacity: 1;
        background-color: rgba(184, 37, 37, 0.09);
        color: rgba(184, 37, 37, 0.0);
      }
    }

    .missing-glyps {
      font-family: "Comic Sans MS", cursive, sans-serif;
    }

    span.flicker {
      -webkit-animation:flicker-1 5s linear infinite both;
      animation:flicker-1 5s linear infinite both;
      animation-delay: 1s;
    }

    #info {
        .container {
          padding-bottom: 30px;
          
          img {
            width: 90px;
            float: left;
            padding-right: 20px;
          }
          h4 {
            display: inline;
            font-size: 0.9em;
          }
        }

    }
    .instructions {
      font-family: roboto_mono, monospace;
      font-size: 20px;
      a {
        color: $near-black;
        &:hover {
          text-decoration: underline;
        }
      }
      .hint {
        background-color: #ffcc68;
        margin-right: 10px;
        padding: 0 10px 0 10px;
      }

      li:before {
        content: "";
      }
    }
  }
}

#credits {
  display: none;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;

  &, a, a:visited, a:hover {
    color: rgba(0, 0, 0, 0.56);
    text-decoration: none;

  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-18 22:57:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    -webkit-transform: translateZ(-300px) translateY(100px);
    transform: translateZ(-300px) translateY(100px);
    opacity: 0
  }
  40% {
    opacity: .6
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1
  }
}

@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0
  }
  40% {
    opacity: .6
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1
  }
}


@keyframes growandspin {
  from {
    transform: scale(0) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);

  }
}
/* ----------------------------------------------
 * Generated by Animista on 2019-9-18 23:16:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes flicker-1{0%,100%{opacity:1}41.99%{opacity:1}42%{opacity:0}43%{opacity:0}43.01%{opacity:1}47.99%{opacity:1}48%{opacity:0}49%{opacity:0}49.01%{opacity:1}}@keyframes flicker-1{0%,100%{opacity:1}41.99%{opacity:1}42%{opacity:0}43%{opacity:0}43.01%{opacity:1}47.99%{opacity:1}48%{opacity:0}49%{opacity:0}49.01%{opacity:1}}